@model CreateOfferWrapperVM

<link rel="stylesheet" href="~/css/Style.css" />
<h1> Här ska företaget skapa offerten... </h1>
<form asp-controller="Company" asp-action="CreateOffer" asp-route-id="@Model.ShowCustomerInfoVM.CID">
    <div id="row1">
        <div div id="column1">
            <div id="CustomerInfo">
                <fieldset style="background-color: #eeeeee">
                    <legend style="font-size:20px; font-weight: bold">Kundinformation</legend><br />
                    <table id="KundinfoTabell">
                        <tr>
                            <td style="font-weight:bold"><label asp-for="ShowCustomerInfoVM.FirstName"></label></td>
                            <td>@Model.ShowCustomerInfoVM.FirstName</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold"><label asp-for="ShowCustomerInfoVM.LastName"></label></td>
                            <td>@Model.ShowCustomerInfoVM.LastName</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold"><label asp-for="ShowCustomerInfoVM.Phone"></label></td>
                            <td>@Model.ShowCustomerInfoVM.Phone</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold"><label asp-for="ShowCustomerInfoVM.Street"></label></td>
                            <td>@Model.ShowCustomerInfoVM.Street</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold"><label asp-for="ShowCustomerInfoVM.Phone"></label></td>
                            <td>
                                @Model.ShowCustomerInfoVM.City
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold"><label asp-for="ShowCustomerInfoVM.Zip"></label></td>
                            <td>@Model.ShowCustomerInfoVM.Zip</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold"><label asp-for="ShowCustomerInfoVM.Email"></label></td>
                            <td>@Model.ShowCustomerInfoVM.Email</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold"><label asp-for="ShowCustomerInfoVM.TextBox"></label></td>
                            @if (@Model.ShowCustomerInfoVM.TextBox != null)
                            {
                                <td>@Model.ShowCustomerInfoVM.TextBox</td>
                            }
                            else
                            {
                                <td>--</td>
                            }
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
        <div id="column2">
            <div id="MaterialInfo">
                <fieldset style="background-color: #eeeeee">
                    <legend style="font-size:20px; font-weight: bold">Material</legend><br />
                    <table>
                        <tr>
                            <td style="font-weight:bold"><label asp-for="SelectedProductsVM.Cabinet"></label></td>
                            @if (@Model.SelectedProductsVM.Cabinet != null)
                            {
                                <td>@Model.SelectedProductsVM.Cabinet</td>
                            }
                            else
                            {
                                <td>Ej vald</td>
                            }
                        </tr>
                        <tr>
                            <td style="font-weight:bold"><label asp-for="SelectedProductsVM.Clinker"></label></td>
                            @if (@Model.SelectedProductsVM.Clinker != null)
                            {
                                <td>@Model.SelectedProductsVM.Clinker</td>
                            }
                            else
                            {
                                <td>Ej vald</td>
                            }
                        </tr>
                        <tr>
                            <td style="font-weight:bold"><label asp-for="SelectedProductsVM.Faucet"></label></td>
                            @if (@Model.SelectedProductsVM.Faucet != null)
                            {
                                <td>@Model.SelectedProductsVM.Faucet</td>
                            }
                            else
                            {
                                <td>Ej vald</td>
                            }
                        </tr>
                        <tr>
                            <td style="font-weight:bold"><label asp-for="SelectedProductsVM.Lightning"></label></td>
                            <td>@Model.SelectedProductsVM.Lightning</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold"><label asp-for="SelectedProductsVM.Shower"></label></td>
                            @if (@Model.SelectedProductsVM.Shower != null)
                            {
                                <td>@Model.SelectedProductsVM.Shower</td>
                            }
                            else
                            {
                                <td>Ej vald</td>
                            }
                        </tr>
                        <tr>
                            <td style="font-weight:bold"><label asp-for="SelectedProductsVM.Sink"></label></td>
                            @if (@Model.SelectedProductsVM.Sink != null)
                            {
                                <td>@Model.SelectedProductsVM.Sink</td>
                            }
                            else
                            {
                                <td>Ej vald</td>
                            }
                        </tr>
                        <tr>
                            <td style="font-weight:bold"><label asp-for="SelectedProductsVM.Tile"></label></td>
                            @if (@Model.SelectedProductsVM.Tile != null)
                            {
                                <td>@Model.SelectedProductsVM.Tile</td>
                            }
                            else
                            {
                                <td>Ej vald</td>
                            }
                        </tr>
                        <tr>
                            <td style="font-weight:bold"><label asp-for="SelectedProductsVM.Toilet"></label></td>
                            @if (@Model.SelectedProductsVM.Toilet != null)
                            {
                                <td>@Model.SelectedProductsVM.Toilet</td>
                            }
                            else
                            {
                                <td>Ej vald</td>
                            }
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
        <div id="column3">
            <div id="ArbetsKostnader">
                <fieldset style="background-color: #eeeeee">
                    <legend style="font-size:20px; font-weight: bold">Arbetskostnader</legend><br />
                    <table id="ArbetskostnadTabell">
                        <thead>
                            <tr>
                                <th>Antal tim</th>
                                <th>Tim deb.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label asp-for="AmountOfWorkVM.DemolitionHours"></label></td>
                                <td><input asp-for="AmountOfWorkVM.DemolitionHours" /></td>
                                <td><span asp-validation-for="AmountOfWorkVM.DemolitionHours"></span></td>
                                <td><input asp-for="AmountOfWorkVM.HourlyRateDemolition" /></td>
                                <td><span asp-validation-for="AmountOfWorkVM.HourlyRateDemolition"></span></td>
                            </tr>
                            <tr>
                                <td><label asp-for="AmountOfWorkVM.DrainHours"></label></td>
                                <td><input asp-for="AmountOfWorkVM.DrainHours" /></td>
                                <td><span asp-validation-for="AmountOfWorkVM.DrainHours"></span></td>
                                <td><input asp-for="AmountOfWorkVM.HourlyRateDrain" /></td>
                                <td><span asp-validation-for="AmountOfWorkVM.HourlyRateDrain"></span></td>
                            </tr>
                            <tr>
                                <td><label asp-for="AmountOfWorkVM.MountingHours"></label></td>
                                <td><input asp-for="AmountOfWorkVM.MountingHours" /></td>
                                <td><span asp-validation-for="AmountOfWorkVM.MountingHours"></span></td>
                                <td><input asp-for="AmountOfWorkVM.HourlyRateMounting" /></td>
                                <td><span asp-validation-for="AmountOfWorkVM.HourlyRateMounting"></span></td>
                            </tr>
                            <tr>
                                <td><label asp-for="AmountOfWorkVM.TileHours"></label></td>
                                <td><input asp-for="AmountOfWorkVM.TileHours" /></td>
                                <td><span asp-validation-for="AmountOfWorkVM.TileHours"></span></td>
                                <td><input asp-for="AmountOfWorkVM.HourlyRateTile" /></td>
                                <td><span asp-validation-for="AmountOfWorkVM.HourlyRateTile"></span></td>
                            </tr>
                            <tr>
                                <td><label asp-for="AmountOfWorkVM.ElectricityHours"></label></td>
                                <td><input asp-for="AmountOfWorkVM.ElectricityHours" /></td>
                                <td><span asp-validation-for="AmountOfWorkVM.ElectricityHours"></span></td>
                                <td><input asp-for="AmountOfWorkVM.HourlyRateElectricity" /></td>
                                <td><span asp-validation-for="AmountOfWorkVM.HourlyRateElectricity"></span></td>
                            </tr>
                            <tr>
                                <td><label asp-for="AmountOfWorkVM.VentilationHours"></label></td>
                                <td><input asp-for="AmountOfWorkVM.VentilationHours" /></td>
                                <td><span asp-validation-for="AmountOfWorkVM.VentilationHours"></span></td>
                                <td><input asp-for="AmountOfWorkVM.HourlyRateVentilation" /></td>
                                <td><span asp-validation-for="AmountOfWorkVM.HourlyRateVentilation"></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <p><label asp-for="AmountOfWorkVM.TotalAmountOfHours"></label></p><br />
                    <input type="submit" value="Skapa Offert!" />
                </fieldset>
            </div>
        </div>
    </div>
</form>
