@model FinalOfferVM

<link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
<br />
<div id="wrapper">
    <div class="aboutleft">
        <h4 class="offer_h4">Uppdragsgivare</h4>
        &nbsp;@Model.FirstName @Model.LastName<br />
        &nbsp;@Model.Street<br />
        &nbsp;@Model.Zip @Model.City<br />
        &nbsp;@Model.Phone
    </div>
    <div class="vline">
        <h4 class="offer_h4">Uppdragsinfo</h4>
        <table width="250">
            <tr>
                <td>&nbsp;<b>Uppdragstyp:</b></td>
                <td>@Model.SelectedProjectType</td>
            </tr>
            <tr>
                <td>&nbsp;<b>Antal kvm:</b> </td>
                <td>@Model.SquareMeter m&sup2;</td>
            </tr>
            <tr>
                <td>&nbsp;<b>Fastighet:</b> </td>
                <td>@Model.SelectedPropertyType</td>
            </tr>
            <tr>
                <td>&nbsp;<b>Öns. byggstart:</b> </td>
                <td>@Model.RequestedStartDate.ToShortDateString()</td>
            </tr>
        </table>
    </div>
    <div class="aboutright">
        <h4 class="offer_h4">Företaget</h4>
        &nbsp;JM Vattenservice AB<br />
        &nbsp;Org.nr: 1234-5678-12<br />
        &nbsp;Kungsgatan 4<br />
        &nbsp;123 43 Stockholm
    </div>
    <br /><br />
    <div class="vline2">
        <h4 class="offer_h4">Material</h4>
        <table class="table">
            <tr>
                <th width="50%">Artiklar:</th>
                <th width="15%">Antal</th>
                <th width="15%">&Aacute; Pris</th>
                <th width="20%">Summa:</th>
            </tr>
            @if (Model.Cabinet != null)
            {
                <tr><td>@Model.Cabinet</td><td></td><td>@Model.CabinetPrice.ToString("C")</td><td>@Model.CabinetPrice.ToString("C")</td></tr>
            }
            @if (Model.Clinker != null)
            {
                <tr><td>@Model.Clinker</td><td>@Model.SquareMeter m&sup2;</td><td>@Model.ClinkerPrice.ToString("C")</td><td>@Model.ClinkerTotalCost.ToString("C")</td></tr>
            }
            @if (Model.Lightning != null)
            {
                <tr><td>@Model.Lightning</td><td></td><td>@Model.LightningPrice.ToString("C")</td><td>@Model.LightningPrice.ToString("C")</td></tr>
            }
            @if (Model.Shower != null)
            {
                <tr><td>@Model.Shower</td><td></td><td>@Model.ShowerPrice.ToString("C")</td><td>@Model.ShowerPrice.ToString("C")</td></tr>
            }
            @if (Model.Sink != null)
            {
                <tr><td>@Model.Sink</td><td></td><td>@Model.SinkPrice.ToString("C")</td><td>@Model.SinkPrice.ToString("C")</td></tr>
            }
            @if (Model.Tile != null)
            {
                <tr><td>@Model.Tile</td><td>@Model.SquareMeter m&sup2;</td><td>@Model.TilePrice.ToString("C")</td><td>@Model.TileTotalCost.ToString("C")</td></tr>
            }
            @if (Model.Toilet != null)
            {
                <tr><td>@Model.Toilet</td><td></td><td>@Model.ToiletPrice.ToString("C")</td><td>@Model.ToiletPrice.ToString("C")</td></tr>
            }
            @if (Model.Faucet != null)
            {
                <tr><td>@Model.Faucet</td><td></td><td>@Model.FaucetPrice.ToString("C")</td><td>@Model.FaucetPrice.ToString("C")</td></tr>
            }
            <tr style="font-weight:bold; color:#a30000;"><td>Summa:</td><td></td><td></td><td>@Model.TotalProductCost.ToString("C")</td></tr>
        </table>

    </div>
    <br />
    <div class="vline2">
        <h4 class="offer_h4">Arbete</h4>
        <table class="table">
            <tr>
                <th width="50%">Arbete</th>
                <th width="15%">Antal tim</th>
                <th width="15%">Tim deb</th>
                <th width="20%">Summa</th>
            </tr>
            @if (Model.DemolitionHours != 0)
            {
                <tr>
                    <td><label asp-for="DemolitionHours"></label></td>
                    <td>@Model.DemolitionHours</td>
                    <td>@Model.HourlyRateDemolition.ToString("C")</td>
                    <td>@Model.DemlitionTotal.ToString("C")</td>
                </tr>
            }
            @if (Model.VentilationHours != 0)
            {
                <tr>
                    <td><label asp-for="VentilationHours"></label></td>
                    <td>@Model.VentilationHours</td>
                    <td>@Model.HourlyRateVentilation.ToString("C")</td>
                    <td>@Model.VentilationTotal.ToString("C")</td>
                </tr>
            }
            @if (Model.ElectricityHours != 0)
            {
                <tr>
                    <td><label asp-for="ElectricityHours"></label></td>
                    <td>@Model.ElectricityHours</td>
                    <td>@Model.HourlyRateElectricity.ToString("C")</td>
                    <td>@Model.ElectricityTotal.ToString("C")</td>
                </tr>
            }
            @if (Model.TileHours != 0)
            {
                <tr>
                    <td><label asp-for="TileHours"></label></td>
                    <td>@Model.TileHours</td>
                    <td>@Model.HourlyRateTile.ToString("C")</td>
                    <td>@Model.TileTotal.ToString("C")</td>
                </tr>
            }
            @if (Model.DrainHours != 0)
            {
                <tr>
                    <td><label asp-for="DrainHours"></label></td>
                    <td>@Model.DrainHours</td>
                    <td>@Model.HourlyRateDrain.ToString("C")</td>
                    <td>@Model.DrainTotal.ToString("C")</td>
                </tr>
            }
            @if (Model.MountingHours != 0)
            {
                <tr>
                    <td><label asp-for="MountingHours"></label></td>
                    <td>@Model.MountingHours</td>
                    <td>@Model.HourlyRateMounting.ToString("C")</td>
                    <td>@Model.MountingTotal.ToString("C")</td>
                </tr>
            }
            <tr style="border:hidden; border-top:1px solid black; color:#a30000;">
                <td><b><label asp-for="TotalWorkCost"></label></b></td>
                <td><b>@Model.TotalAmountOfHours tim</b></td>
                <td></td>
                <td><b>@Model.TotalWorkCost.ToString("C")</b></td>
            </tr>

        </table>

    </div>
    <br />
    <div class="vline2">
        <h4 class="offer_h4">Resekostnad</h4>
        <table class="table">
            <tr>
                <td width="80%"><label asp-for="TravelCost"></label></td>
                <td width="20%"><b>@Model.TravelCost.ToString("C")</b></td>
            </tr>
        </table>
    </div>
    @if (Model.ROTDiscount != 0)
    {
        <br />
        <div class="vline2">
            <h4 class="offer_h4">Rotavdrag</h4>
            <table class="table">
                <tr>
                    <td width="80%"><label asp-for="ROTDiscount"></label>&nbsp;&nbsp;</td>
                    <td width="20%"><b>@Model.ROTDiscount.ToString("C")</b></td>
                </tr>
            </table>
        </div>
    }
    <br />
    <div class="vline2">
        <h4 class="offer_h4">Totalt</h4>
        <table class="table">
            <tr>
                <td width="80%"><b>Summa</b></td>
                <td width="20%"><b>@Model.TotalPrice.ToString("C")</b></td>
            </tr>
            @if (@Model.ROTDiscount != 0)
            {
                <tr><td><b>ROT-Avdrag</b></td><td style="color:red"><b>-@Model.ROTDiscount.ToString("C")</b></td></tr>
            }
            @if (Model.WorkDiscount != 0)
            {
                <tr><td><b><label asp-for="WorkDiscount"></label></b></td><td style="color:red"><b>-@Model.WorkDiscount.ToString("C")</b></td></tr>
            }
            @if (@Model.TotalPrice != Model.TotalPriceAfterDiscount)
            {
                <tr><td><b>Totalt efter avdrag</b></td><td><b>@Model.TotalPriceAfterDiscount.ToString("C")</b></td></tr>
            }
        </table>
    </div>
    <br />
    <div class="vline2_button">
        <button onclick="goBack()" style="vertical-align:middle;" class="button_back"><span>Tillbaka</span></button>
    </div>
</div>
@section Scripts
    {
    <script src="~/js/moment.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="~/js/bootstrap-sortable.js"></script>
    <script src="~/js/Script.js"></script>
}