@model FinalOfferVM

<link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
<br />
<div id="wrapper">

    <div class="aboutleft">
        <h4 class="offer_h4">Uppdragsgivare</h4>
        @Model.FirstName @Model.LastName<br />
        @Model.Street<br />
        @Model.Zip @Model.City<br />
        @Model.Phone
    </div>

    <div class="vline">
        <h4 class="offer_h4">Uppdragsinfo</h4>
        <table width="230">
            <tr>
                <td><b>Uppdragstyp:</b></td>
                <td>@Model.SelectedProjectType</td>
            </tr>
            <tr>
                <td><b>Antal kvm:</b> </td>
                <td>@Model.SquareMeter kvm</td>
            </tr>
            <tr>
                <td><b>Fastighet:</b> </td>
                <td>@Model.SelectedPropertyType</td>
            </tr>
            <tr>
                <td><b>Öns. byggstart:</b> </td>
                <td>@Model.RequestedStartDate.ToShortDateString()</td>
            </tr>
        </table>
    </div>

    <div class="aboutright">
        <h4 class="offer_h4">Företaget</h4>
        JM Vattenservice AB<br />
        Org.nr: 1234-5678-12<br />
        Kungsgatan 4<br />
        123 43 Stockholm
    </div>
    <br /><br />
    <div class="vline2">
        <h4 class="offer_h4">Material</h4>
        <table class="table">
            <tr>
                <th>Artiklar:</th>
                <th>Pris:</th>
            </tr>
            @if (Model.Cabinet != null)
            {
                <tr><td>@Model.Cabinet</td><td>@Model.CabinetPrice.ToString("C")</td></tr>
            }
            @if (Model.Clinker != null)
            {
                <tr><td>@Model.Clinker</td><td>@Model.ClinkerPrice.ToString("C")</td></tr>
            }
            @if (Model.Lightning != null)
            {
                <tr><td>@Model.Lightning</td><td>@Model.LightningPrice.ToString("C")</td></tr>
            }
            @if (Model.Shower != null)
            {
                <tr><td>@Model.Shower</td><td>@Model.ShowerPrice.ToString("C")</td></tr>
            }
            @if (Model.Sink != null)
            {
                <tr><td>@Model.Sink</td><td>@Model.SinkPrice.ToString("C")</td></tr>
            }
            @if (Model.Tile != null)
            {
                <tr><td>@Model.Tile</td><td>@Model.TilePrice.ToString("C")</td></tr>
            }
            @if (Model.Toilet != null)
            {
                <tr><td>@Model.Toilet</td><td>@Model.ToiletPrice.ToString("C")</td></tr>
            }
            @if (Model.Faucet != null)
            {
                <tr><td>@Model.Faucet</td><td>@Model.FaucetPrice</td></tr>
            }
            <tr style="font-weight:bold; color:#a30000;"><td>Summa:</td><td>@Model.TotalProductCost.ToString("C")</td></tr>
        </table>

    </div>
    <br />
    <div class="vline2">
        <h4 class="offer_h4">Arbete</h4>
        <table class="table">
            <tr>
                <th>Arbete</th>
                <th>Antal tim</th>
                <th>Tim deb</th>
            </tr>
            @if (Model.DemolitionHours != 0)
            {
                <tr>
                    <td><label asp-for="DemolitionHours"></label></td>
                    <td>@Model.DemolitionHours</td>
                    <td>@Model.HourlyRateDemolition.ToString("C")</td>
                </tr>
            }
            @if (Model.VentilationHours != 0)
            {
                <tr>
                    <td><label asp-for="VentilationHours"></label></td>
                    <td>@Model.VentilationHours</td>
                    <td>@Model.HourlyRateVentilation.ToString("C")</td>
                </tr>
            }
            @if (Model.ElectricityHours != 0)
            {
                <tr>
                    <td><label asp-for="ElectricityHours"></label></td>
                    <td>@Model.ElectricityHours</td>
                    <td>@Model.HourlyRateElectricity.ToString("C")</td>
                </tr>
            }
            @if (Model.TileHours != 0)
            {
                <tr>
                    <td><label asp-for="TileHours"></label></td>
                    <td>@Model.TileHours</td>
                    <td>@Model.HourlyRateTile.ToString("C")</td>
                </tr>
            }
            @if (Model.DrainHours != 0)
            {
                <tr>
                    <td><label asp-for="DrainHours"></label></td>
                    <td>@Model.DrainHours</td>
                    <td>@Model.HourlyRateDrain.ToString("C")</td>
                </tr>
            }
            @if (Model.MountingHours != 0)
            {
                <tr>
                    <td><label asp-for="MountingHours"></label></td>
                    <td>@Model.MountingHours</td>
                    <td>@Model.HourlyRateMounting.ToString("C")</td>
                </tr>
            }
            <tr style="border:hidden; border-top:1px solid black; color:#a30000;">
                <td><b><label asp-for="TotalWorkCost"></label></b></td>
                <td><b>@Model.TotalAmountOfHours tim</b></td>
                <td><b>@Model.TotalWorkCost.ToString("C")</b></td>
            </tr>

        </table>

    </div>
    <br />
    <div class="vline2">
        <h4 class="offer_h4">Resekostnad</h4>
        <table class="table">
            <tr>
                <td><label asp-for="TravelCost"></label></td>
                <td>@Model.TravelCost.ToString("C")</td>
            </tr>
        </table>
    </div>
    @if (Model.ROTDiscount != 0)
    {
        <br />
        <div class="vline2">
            <h4 class="offer_h4">Rotavdrag</h4>
            <table class="table">
                <tr>
                    <td><label asp-for="ROTDiscount"></label>&nbsp;&nbsp;</td>
                    <td>@Model.ROTDiscount.ToString("C")</td>
                </tr>
            </table>
        </div>
    }
    <br />
    <div class="vline2">
        <h4 class="offer_h4">Totalt</h4>
        <table class="table">
            <tr>
                <td><b>Summa</b></td>
                <td><b>@Model.TotalPrice.ToString("C")</b></td>
            </tr>
            @if (@Model.ROTDiscount != 0)
            {
                <tr><td><b>ROT-Avdrag</b></td><td style="color:red"><b>-@Model.ROTDiscount.ToString("C")</b></td></tr>
            }
            @if (Model.WorkDiscount != 0)
            {
                <tr><td><b><label asp-for="WorkDiscount"></label></b></td><td style="color:red"><b>-@Model.WorkDiscount.ToString("C")</b></td></tr>
            }
            @if (@Model.TotalPrice != Model.TotalPriceAfterDiscount)
            {
                <tr><td><b>Totalt efter avdrag</b></td><td><b>@Model.TotalPriceAfterDiscount.ToString("C")</b></td></tr>
            }
        </table>
    </div>
    <br />
    <div class="vline2_button">
        <button onclick="goBack()" style="vertical-align:middle;" class="button_back"><span>Tillbaka</span></button>
    </div>
</div>
@section Scripts
    {
    <script src="~/js/moment.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="~/js/bootstrap-sortable.js"></script>
    <script src="~/js/Script.js"></script>
}