@model ListInquiryVM[]

<style type="text/css">


</style>
<div class="ListOfInquiries" style="margin:0 auto; background-color:#eeeeee">
    <div class="NewInquiries">
        <h1>Nya förfrågningar</h1>
        <table border="0" id="NewInquiriesTable" class="display" style="width:80%;" >
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Namn</th>
                    <th onclick="sortTable(1)">Fastighet</th>
                    <th onclick="sortTable(2)">KVM</th>
                    <th onclick="sortTable(3)">Öns. byggstart</th>
                    <th onclick="sortTable(4)">Inskickat</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="text-align: center;">
                        @if (item.IsComplete == false)
                        {
                            <td><a asp-controller="Company" asp-action="CreateOffer" asp-route-id="@item.CID">@item.FirstName @item.LastName</a></td>
                            <td>@item.ProjectType</td>
                            <td>@item.SquareMeter</td>
                            <td>@item.RequestedStartDate</td>
                            <td>@item.OrderReceived</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br /><br /><br /><br /><br />
    <div class="FinishedOfferts">
        <h1>Färdiga offerter</h1>
        <table id="NewInquiriesTable" class="display" style="width:80%;">
            <thead>
                <tr>
                    <th>Namn</th>
                    <th>Fastighet</th>
                    <th>KVM</th>
                    <th>Öns. byggstart</th>
                    <th>Inskickat</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="text-align: center;">
                        @if (item.IsComplete == true)
                        {
                            <td><a asp-controller="Company" asp-action="CreateOffer" asp-route-id="@item.CID">@item.FirstName @item.LastName</a></td>
                            <td>@item.ProjectType</td>
                            <td>@item.SquareMeter</td>
                            <td>@item.RequestedStartDate</td>
                            <td>@item.OrderReceived</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/InquiriesTableScript.js"></script>